body{
    text-align: center;
    background-color: #1E1E2F; /* GPT dark background */
    color: #FFFFFF;}
#headerSection{
    padding: 10px;
}
#headerSection h1{
    font-family: cursive;
}
input {
    padding: 5px;
    border-radius: 5px;

}
#dropBox {
    padding: 10px;
    border-radius: 10px;
    width: 10%;
    background-color:#F9FAFB;
}
input{
    padding: 15px;
    border-radius: 10px;
}
#loginButton{
    padding: 10px;
    border-radius: 10px;
    background-color:  #3B82F6;
    color:#F9FAFB;
    
}
